<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>notes.dentarg.net</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>9ED4449B-CCC8-4882-A63D-7D7B89187A28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A72A041-E568-4FBE-BAC7-8C85EE958CC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FD912E51-D11C-45DA-B019-DF556B423D60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79280F02-1127-40CB-A5EC-B59D780F536C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dentarg</string>
	<key>description</key>
	<string>Find notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>n</string>
				<key>scopes</key>
				<array>
					<string>~/Dropbox/Notes</string>
				</array>
				<key>subtext</key>
				<string>Find note in ~/Dropbox/Notes</string>
				<key>title</key>
				<string>Find Note</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>9ED4449B-CCC8-4882-A63D-7D7B89187A28</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>6A72A041-E568-4FBE-BAC7-8C85EE958CC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nn</string>
				<key>subtext</key>
				<string>Create new note in ~/Dropbox/Notes</string>
				<key>text</key>
				<string>New Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FD912E51-D11C-45DA-B019-DF556B423D60</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>touch "$HOME/Dropbox/Notes/{query}.txt"
open "$HOME/Dropbox/Notes/{query}.txt"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79280F02-1127-40CB-A5EC-B59D780F536C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6A72A041-E568-4FBE-BAC7-8C85EE958CC6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>79280F02-1127-40CB-A5EC-B59D780F536C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9ED4449B-CCC8-4882-A63D-7D7B89187A28</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FD912E51-D11C-45DA-B019-DF556B423D60</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://dentarg.net</string>
</dict>
</plist>
